.carousel{
    background: var(--background-home);
    padding: 30px 0 38px 0;

}
.carouselContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carouselTitle{
    font-family: var(--primary-font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 128.52%;
    text-transform: uppercase;
    width: 100%;
    max-width: 280px;
    padding-bottom: 24px;

}
@media (min-width: 600px) {
    .carousel{
        padding-top: 82px;
    }
    .carouselTitle{
        font-size: 40px;
        max-width: 603px;
        padding-bottom: 80px;
    }
}
@media (min-width: 900px) {

}