.slogan{
    display: flex;
    flex-direction: column;
    align-items: center;
position: relative;

}
.text{
    font-family: var(--primary-font-family);
    color:var(--primary-text-color);
    font-weight: 500;
    font-size: 10px;
    line-height: 216.8%;
    padding-bottom: 26px;
}
.opera{
    position: absolute;
    bottom:-7%;
    right:10%;
}

@media (min-width: 600px) {
    .slogan{
        align-items: flex-start;
    }
    .text{
        text-align: left;
        font-size: 13px;
        padding-bottom: 40px;
    }
    .opera{
       bottom: 20%;
        right:0;
        left:80%;
        width: 50px;
    }
}
@media (min-width: 900px) {
    .slogan{


    }
    .text{
        text-align: left;
        font-size: 20px;
        padding-bottom: 56px;
    }
    .opera{
        bottom:10%;
        left:80%;
        width: 79px;
    }

}