.container{
    margin: 0 auto;
    /*padding: 0 16px;*/
    width: 90%;
}
@media (min-width: 1200px) {
    .container{
        margin: 0 auto;
        /*padding: 0 150px;*/
        width: 90%;
        max-width: 1440px;
    }
}