
.title{
    font-family: var(--third-font-family);
    color:var(--primary-text-color);
    font-weight: 500;
}
.titleTop{
    font-size: 26px;
    line-height: 136%;
    padding-bottom: 16px;
}
.titleBottom{
    font-size: 24px;
    line-height: 149.5%;
    padding-bottom: 38px;
    text-align: left;
    width: 100%;
    max-width: 225px;
}
.valueWrapper {
    display: inline-block;
    width: 150px;
}
.value {
    color:var(--third-text-color);

    /*animation: scroll 2s infinite;*/

}

/*@keyframes scroll {*/
/*    0% {*/
/*        transform: translateY(0);*/
/*    }*/
/*    20% {*/
/*        transform: translateY(-100%);*/
/*    }*/
/*    80% {*/
/*        transform: translateY(-100%);*/
/*    }*/
/*    100% {*/
/*        transform: translateY(0);*/
/*    }*/
/*}*/

.valueCommunity{
    background: linear-gradient(180deg, #D21111 0%, #EAEE1E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: var(--primary-font-family);
    font-weight: 700;
    font-size: 25px;
}


@media (min-width: 600px) {
    .title{
        text-align: left;
        font-size: 35px;
        padding-bottom: 30px;
    }
    .valueWrapper {
        display: inline-block;
        width: 200px;
    }
}
@media (min-width: 900px) {

    .title{

        font-size: 60px;
        padding-bottom: 41px;
    }
    .valueCommunity{
        font-size: 55px;
        line-height: 82px;
    }
    .titleTop{
        font-size: 60px;
        padding-bottom: 41px;
    }
    .titleBottom{
        font-size: 45px;
        padding-bottom: 0;
        max-width: 511px;
    }
    .valueWrapper {
        display: inline-block;
        width: 330px;
    }
}