.steps {
    padding: 30px 0 19px 0;
}

.stepsTitle {
    font-family: var(--primary-font-family);
    color: var(--primary-text-color);
    font-weight: 600;
    font-size: 20px;
    line-height: 128.52%;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 30px;
    position: relative;
}
/*.stepsTitle::after{*/
/*    content: url("../../../../public/image/dash.png");*/
/*    display: block;*/
/*    !*border-bottom: 3px solid #CC121B;*!*/
/*    !*width: 20px;*!*/
/*    position: absolute;*/
/*    top:27%;*/
/*    right: 35.5%;*/
/*    */

/*}*/

.stepsContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stepsContentTabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 27px;
}

.stepsContentPicture {
    width: 343px;
    height: 264px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;

}
.fon {
    background-image: url("../../../../public/image/image-back.png");
    background-size: cover;
    background-position: top;
    width: 90%;
    height: 120px;
    margin-top: auto;
}
.screen {
    width: 80%;
    position: absolute;
    left:10%;
    bottom: 5%;
}

@media (min-width: 600px) {
    .steps {
        padding: 60px 0 100px 0;
    }

    .stepsTitle {
        padding-left: 40%;
        font-size: 30px;
        padding-bottom: 25px;
    }

    .stepsContent {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }

    .stepsContentTabs {
        padding-bottom: 24px;
    }

    .stepsContentPicture {
        width: 430px;
        height: 320px;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .screen {
        bottom: 5%;
    }
}

@media (min-width: 900px) {
    .steps {
        padding: 81px 0 142px 0;
    }

    .stepsTitle {
        font-size: 40px;
        padding-bottom: 34px;
    }

    .stepsContent {
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    .stepsContentTabs {
        padding-bottom: 24px;
    }

    .stepsContentPicture {
        width: 50%;
        height: 416px;
        display: flex;
        flex-direction: column;
        position: relative;
    }

}
