.App {
    text-align: center;
    min-width: 320px;

}

.active::after {
    content: '';
    display: block;
    border-bottom: 3px solid #CC121B;
    width: 20px;
    padding-top: 4px;
    cursor: default;
    border-radius: 5px;
}