:root {
    --primary-background: linear-gradient(180deg, #E50F1C -38.3%, rgba(146, 0, 0, 0.89) 198.94%), #FFFFFF;
    --secondary-background: linear-gradient(180deg, #D8111C 0%, #B9161B 100%);
    --background-home: linear-gradient(to bottom right, rgba(255,255,255,1) 0%, rgba(255,227,230,1) 100%),
    linear-gradient(to top left, rgba(255,255,255,1) 0%, rgba(255,227,230,1) 100%);


    --primary-text-color: #000000;
    --secondary-text-color: #FFFFFF;
    --third-text-color:#C8131B;


    --primary-font-family: 'Inter';
    --secondary-font-family: 'Poppins';
    --third-font-family: 'Ubuntu';
    --logo-font-family: 'Outfit';


}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input, select {
    vertical-align: middle;
}

*, *:before, *:after {
    box-sizing: border-box;
}
