.banner {
    background-image: url("../../../public/image/Path.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;


}

.banner h1 {
    font-family: var(--secondary-font-family);
    font-weight: 600;
    font-size: 32px;
    line-height: 70px;
    color: var(--primary-text-color);
    padding: 150px 0;

}
@media (min-width: 600px) {
    .banner {
        background-size: auto;
    }

    .banner h1 {
        font-size: 64px;
        line-height: 105px;
        padding: 300px 0 400px 0;
    }
}